<div class="center container">
  <h5>Fale com a nossa equipe</h5>
</div>

<div class="center container">
  <form class="col s12">
    <div class="center row">
      <div class="input-field col s12">
        <input id="input_text" type="text" data-length="50">
        <label for="input_text">Nome</label>
      </div>
    </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea2" class="materialize-textarea" data-length="500"></textarea>
          <label for="textarea2">Escreva aqui</label>
        </div>
      </div>
      <div class="container">
        <a class="waves-effect waves-light btn">ENVIAR</a>
      </div>
    </form>

    <div class="container">
      <h6>telefone:(21)2233-4455</h6>
      <h6>celular:(21)91234-5678</h6>
      <h6>e-mail: contato@pelomundo.com</h6>
    </div>
  </div>
