
<nav class="transparent z-depth-0 nav-extended">
   <div class="nav-wrapper">
     <a href="#" class="center brand-logo">Pelo Mundo</a>
     <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons"></i></a>
   </div>
   <div class="nav-content">
     <ul class="tabs tabs-transparent">
       <li class="right tab"><a routerLink="/contato">Contato</a></li>
       <li class="right tab"><a routerLink="/viagens">Viagens</a></li>
       <li class="right tab"><a routerLink="/sobrenos">Sobre nós</a></li>
     </ul>
   </div>
 </nav>
