<div class= "row">
  <div class="center container">
    <h5>Somos um grupo de pessoas que se unem em prol de um único objetivo</h5>
  </div>

  <div class="center container">
    <h3 class="center">Explorar o mundo.</h3>
  </div>

  <div class=" center container">
    <h5>Descubra o mundo na sua</h5>
  </div>

  <div class="container">
    <h3 class="center">Aventura.</h3>
  </div>

  <div class="center container">
    <h5>Aprenda e descubra novas culturas</h5>
  </div>

  <div class="container">
    <h3 class="center">Pelo Mundo.</h3>
  </div>







</div>
