<div class="row">
  <div class="center container">
    <li><a routerLink="/franca"><h5>França</h5></a></li>
  </div>
  <div class="container">
    <div class="col l4">
      <img src="assets/img/franca/2.jpg" class="circle responsive-img">
    </div>
    <div class="col l4">
      <img src="assets/img/franca/1.jpg" class="circle responsive-img">
    </div>
    <div class="col l4">
      <img src="assets/img/franca/3.jpg" class="circle responsive-img">
    </div>
  </div>
</div>

<div class="row">
  <div class="center container">
    <li><a routerLink="/canada"><h5>Canadá</h5></a></li>
  </div>
  <div class="container">
    <div class="col l4">
      <img src="assets/img/canada/2.jpg" class="circle responsive-img">
    </div>
    <div class="col l4">
      <img src="assets/img/canada/1.jpg" class="circle responsive-img">
    </div>
    <div class="col l4">
      <img src="assets/img/canada/3.jpg" class="circle responsive-img">
    </div>
  </div>
</div>

<div class="row">
  <div class="center container">
    <li><a routerLink="/grecia"><h5>Grécia</h5></a></li>
  </div>
  <div class="container">
    <div class="col l4">
      <img src="assets/img/grecia/2.jpg" class="circle responsive-img">
    </div>
    <div class="col l4">
      <img src="assets/img/grecia/1.jpg" class="circle responsive-img">
    </div>
    <div class="col l4">
      <img src="assets/img/grecia/3.jpg" class="circle responsive-img">
    </div>
  </div>
</div>
