<div class="row white">
  <div class="center container">
    <h5>França</h5>
  </div>
  <div class="container">
    <div class="col l4">
      <img src="assets/img/franca/1.jpg" class="circle">
    </div>
    <div class="col l4">
      <img src="assets/img/franca/2.jpg" class="circle">
    </div>
    <div class="col l4">
      <img src="assets/img/franca/3.jpg" class="circle">
    </div>
  </div>
</div>

<div class="row white">
  <div class="center container">
    <h5>Canadá</h5>
  </div>
  <div class="container">
    <div class="col l4">
      <img src="assets/img/canada/1.jpg" class="circle">
    </div>
    <div class="col l4">
      <img src="assets/img/canada/2.jpg" class="circle">
    </div>
    <div class="col l4">
      <img src="assets/img/canada/3.jpg" class="circle">
    </div>
  </div>
</div>

<div class="row white">
  <div class="center container">
    <h5>Grécia</h5>
  </div>
  <div class="container">
    <div class="col l4">
      <img src="assets/img/grecia/1.jpg" class="circle">
    </div>
    <div class="col l4">
      <img src="assets/img/grecia/2.jpg" class="circle">
    </div>
    <div class="col l4">
      <img src="assets/img/grecia/3.jpg" class="circle">
    </div>
  </div>
</div>
